.container {
    background: #F4F4F4;
    color: black;
    padding: 0px 15px
}


.searchInput {
    border-bottom: 1px solid red;
}

.loginButton {
    background: black;
    color: white;
    height: 50px;
}