.socialIconsContainer{
    /* border: 1.5px solid var(--outline); */
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid white;
    padding: 10px 12px;
    transition: 0.3s ease-in all;
  }


  .socialIcon {
    width: 20px;
    height: 20px;
    color: white
  }