.footerContainer{
  /* background: var(--background2);
  background-image: url("/assets/images/ribbon_light.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 0%;
  padding: 30px 15px 10px 15px; */
  /* padding-left: 130px;
  padding-right: 130px; */
  color: #fff;
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  
}

.footerDesc{
  width: 60%!important;
}


.socialIconsContainer{
  /* border: 1.5px solid var(--outline); */
  border-radius: 50%;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--primary);
  transition: 0.3s ease-in all;
}

/* .socialIconsContainer:hover,
.socialIconsContainer:active {
  background: var(--primary);
  border: 1.5px solid var(--primary);
} */

.footerLinks {
  transition: 0.6s all;
  cursor: pointer;
}

.footerLinks:hover, 
.footerLinks:active{
  color: var(--primary)
}

.socialIcons{
  margin: 10px;
  display: block;
}

.linksContainer{
  background: #4C4C50;
  padding: 6px 21px 9px 12px;
  cursor: pointer;
  border-radius: 25px;
}

@media screen and (max-width: 680px) {
  .footerDesc{
      width: 85%!important;
    }
}