@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #0000;
  background: #fff
}


.section-container {
  padding-left: 30px;
  padding-right: 30px;
}


@media screen and (max-width: 767px) {
  .section-container {
      padding-left: 20px;
      padding-right: 20px;
  }
}
