.loginBox {
    padding: 15px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(110,110,110,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(110,110,110,1);
    box-shadow: 0px 0px 13px 0px rgba(110,110,110,1);
    width: 500px;
    border-radius: 5px;
    padding: 25px
}


.textInput {
    width: 100%;
}

@media screen and (max-width: 541px) {
    .loginBox{
        width: 100%;
    }
  }