.button {
    display: flex;
    flex-direction: row;
    padding: 15px 40px;
    border-radius: 30%;
    min-width: 70px;
    background: #151515;
    border-radius: 1000px;
    color: #fff;
    transition: 0.2s ease-in;
}

.button:hover {
    background: #000000;
}