.buttonOutline {
    padding: 15px 40px!important;
    border: 1px solid #000!important;
    color: #000!important;
    transition: 0.2s ease-in!important;
}

.buttonOutline:hover {
    background: #000000!important;
    color: #fff
}

.button {
    padding: 15px 40px!important;
    border: 1px solid #000!important;
    background: #151515!important;
    transition: 0.2s ease-in!important;
    color: #fff!important;
}

.button:hover {
    background: #000000!important;
}